apiVersion: v1
kind: Secret
metadata:
  name: aws-dynamic-dns-secret
type: Opaque
data:
  aws_access_key: # AWS access key in base64
  aws_secret_key: # AWS secret key in base64
  hosted_zone_id: # Hostedzone ID for the domain in base64
  dns_name:       # The domain that should be set in base64
